  
#ResetButton{
  width: 100%;
}

#ruleBreaker{
  margin-top: 5%;
  margin-bottom: -8%;
}

.WholePage{
  height: 100vh;
}

.spacer{
  height: 20vh;
}

.scrollable{
  overflow-y: auto;
  max-height: 20%
}

.hidden{
  display: none;
}

.modifierToken{
  display: inline;
  padding-right: 5px;
}

.modifierImg{
  height: 30px;
  width:  30px;
}

body{
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.enemyDisplay{
  background-color: blue;
  color: yellow;
}

.attackDisplay{
  background-color: cyan;
  color: orangered;
}

.itemDisplay{
  background-color: turquoise;
  color: red;
}

.holographicDisplay{
  background-color: #0000FF88;
  opacity: 0.7;
}

.hologramContent{
  opacity: 1.0;
}